<section class ="landing">
  <div class = "container-hero">
    <div class = "container text-center">
      <h1>Welcome to Evil Commerce</h1>
      <p>We put the E in E-Commerce</p>
      <br>

        <div class="navbar-form navbar-center">
          <%= form_tag(items_path, method: "get", id: "search-form") do |f| %>
          <%= search_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control" %>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          <% end %>
        </div>
      <br>
      <%= link_to "Find Stuff Now!", items_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>

  <div class = "container-info text-center">

    <div class = "info">
      <%= fa_icon 'dollar 4x'%>
      <div class = "textbox">
        <h4>Great Deals for Great Value</h4>
      </div>
    </div>

    <div class = "info">
      <%= fa_icon 'shopping-bag 4x'%>
      <div class ="textbox">
        <h4>Online commerce at its best</h4>
      </div>
    </div>

    <div class = "info">
      <%= fa_icon 'mobile-phone 4x'%>
      <div class ="textbox">
        <h4>Accessible throughout all devices</h4>
      </div>
    </div>

    <div class ="info">
      <%= fa_icon 'globe 4x' %>
      <div class ="textbox">
        <h4>Available throughout the whole world</h4>
      </div>
    </div>

  </div>


  <section class = "browse text-center">
    <h1>Browse Category</h1>
    <hr>

  </section>

  <section class= "minipics">
    <div class= "minipics-child">
      <div class= "invisible-layout">
        <h3> Gadgets </h3>
      </div>
      <%= image_tag 'iphone.jpeg', class: "image-setting" %>
    </div>
    <div class= "minipics-child">
      <div class= "invisible-layout">
        <h3 > Apparels </h3>
      </div>
      <%= image_tag 'apparel.jpeg', class: "image-setting" %>
    </div>
    <div class= "minipics-child">
      <div class= "invisible-layout">
        <h3 > Hobbies </h3>
      </div>
      <%= image_tag 'hobby.jpeg', class: "image-setting" %>
    </div>
    <div class= "minipics-child">
      <div class= "invisible-layout">
        <h3 > Books </h3>
      </div>
      <%= image_tag 'book.jpeg', class: "image-setting" %>
    </div>
  </section>

<section class = "container-end">

</section>
</section>
