<%= form_for(current_user, url: user_path(current_user), html: { id: "users-create-form" }) do |f| %>

<h1 class="text-center">
  Edit Account
</h1>

  <div class="form-group">
    <h4> <%= f.label :password_field, "Password" %> </h4>
    <%= f.password_field :password, id: "user_password_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :password_confirmation_field, "Password Confirmation" %> </h4>
    <%= f.password_field :password_confirmation, id: "user_password_field", class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <h4> <%= f.label :shipping_address_field, "Address" %> </h4>
    <%= f.text_field :shipping_address, id: "shipping_address_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :shipping_postcode_field, "Postcode" %> </h4>
    <%= f.text_field :shipping_postcode, id: "shipping_postcode_field", class: 'form-control' %>
  </div>


  <div class="form-group text-center">
    <%= f.submit "Update Account", class: "btn btn-success btn-lg" %>
  </div>
<% end %>
