<h1>Your Cart</h1>

<% if @items.empty? %>
  <h2>Your Cart Is Currently Empty</h2>
<% else %>
<% end %>

<ul>
  <% @items.each do |item| %>
  <li>
    <%= link_to item.item_name, item %>
    <br>
    <%= item.item_description %>
    <br>
    <%= number_to_currency(item.price, :unit => 'RM') %>
    <br>

    <%= form_tag update_item_path(id: item.id), method: :patch do%>
      <div class="row" >

        <span class="small-1 large-1 columns pull-left">
          <%= label_tag "Quantity:", nil, class: "right inline" %>
        </span>

        <span class="small-1 large-1 columns pull-left">
          <%= text_field_tag :quantity, item.quantity %>
        </span>

        <span class="small-1 large-1 columns pull-left">
          <%= submit_tag 'Update', class: "button" %>
        </span>

      </div>

    <%end%>

    <br>
    <%= link_to "Remove item from cart", remove_item_path(id: item), method: :delete %>
    <br><br>
  </li>

  <% end %>
  <h3>Total: <%=@total_price%></h3>

  <%= link_to "Continue Shopping", items_path, class: "btn btn-primary" %>

  <% if @items.empty? %>

  <% else %>
    <% if current_user %>
    <!-- <a class="button primary back" href="/checkouts/new">
      <span>CHECKOUT</span>
    </a> -->
      <%= link_to "Checkout", new_checkout_path, method: :get, class: "btn btn-primary" %>
    <% else %>
      <p>You must login to Checkout your items</p>
    <%end%>

  <% end %>

</ul>

<script>
braintree.setup("<%=@client_token%>", 'dropin', {
  container: 'dropin-container',
  form: 'payment-form'
});
</script>
